#root {
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  background-color: rgb(158, 157, 168);
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


#navtab {
  background-color: rgb(0, 0, 0);
}
.nav-item {
padding:30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
}

.contact {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile {
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.experience {
  font-size:20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.education {
  font-size:20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
  text-align: center;
  font-size: 30px;
  font-weight: 200 bold;
  font-family:  Georgia, Times, 'Times New Roman';
}


.aside {
  text-align: right;
  font-family: Tahoma, sans-serif;
}

.mainHeader{
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-group-item {
  justify-content: space-between;
}